:root {
    --main-bg-color: #6725A8;
    --second-bg-color: #f6f6fa;
    --smoky-bg-color: #F6F6FA;
    --gray-text-color: #9797AF;
    --accent-color: #CB11AB;
    --sign-color: #F55123;
    --green-color: #0CB477;
    --rulers-green-color: rgba(12, 180, 119, 0.2);
    --rulers-magenta-color: rgba(203, 17, 171, 0.2);
    --rulers-color: rgba(0, 0, 0, 0.2);
    --hr-color: rgba(0, 0, 0, 0.1);

    --text-h1-size: 28px;
    --text-h2-size: 24px;
    --text-h3-size: 20px;
    --text-main-size: 16px;
    --text-caption-size: 13px;
    --text-lead-size: 20px;

    --semibold-weight: 600;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: var(--text-main-size);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    min-width: 1024px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border: 1px solid var(--rulers-color);
    border-radius: 6px;
}

hr {
    border-top: 1px solid var(--hr-color);
    border-bottom: 0;
    border-right: 0;
}

/* ---header--- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 16px 0;
}

header * {
    display: flex;
    color: white;
}

.catalog {
    gap: 16px;
    margin-left: 24px;
}

.burger-border {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 28px;
    height: 24px;
}

/* search-form */
.search {
    margin: 0 32px;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 36px;
    justify-content: space-between;
    align-items: center;

}

.search-form__text {
    font-size: 18px;
    height: 48px;
    width: 100%;
    padding: 10px 0 14px 0;
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 0);

}

input {
    outline: none;
}

.search-form__button {
    border: 0px solid white;
    opacity: 0.4;
    background: url(icons/search.svg) no-repeat center center;
}

/* menu */
.menu {
    gap: 40px;
}

.menu>* {
    flex-direction: column;
    align-items: center;
}

.menu__text {
    font-size: 13px;
    margin: 6px 0 0;
}

.menu__icon {
    width: 28px;
    height: 28px;
}

.menu__icon-container {
    width: 28px;
    height: 28px;
}

.profile__icon-container {
    margin: 1px 13px 1px 15px;
}

.profile__icon {
    width: 19px;
    height: 20px;
    margin: 4px 4.5px;
}

.cart__icon-container {
    margin: 1px 18px 1px 10px;
}

/* ---main--- */
main {
    background-color: var(--smoky-bg-color);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}


main * {
    display: flex;
    flex-direction: column;
}

/* cart-content */
.cart-content {
    flex-direction: column;
    flex: 2 2 640px;
    margin-left: 24px;
}

.header1 {
    margin: 34px 0 27px;
    font-size: var(--text-h1-size);
}

.in-stock__first-line {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;

}

.in-stock__checkbox-all {
    flex-direction: row;
    align-items: center;
}

#all {
    margin-right: 11px;
    width: 22px;
    height: 22px;
}

.in-stock__button {
    width: 20px;
    height: 20px;
    border: 0px solid white;
    background: url(icons/turn.svg) no-repeat center center;
}

/* product */
.product {
    flex-direction: row;
    justify-content: space-between;
}

.product>* {
    flex-direction: row;
}

.product-info {
    gap: 16px;
    margin-top: 11px;
}

.product-info__icon {
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.product-item {
    gap: 8px;
}

.product-item__characteristics {
    flex-direction: row;
    gap: 16px;
}

.characteristic {
    font-size: var(--text-caption-size);
}

/* in-stock__products */
.provider {
    flex-direction: row;
    gap: 6px;
}

.product-item__storage-info {
    gap: 4px;
}

.product-item__storage-info * {
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
}

.storage-info__icon__container {
    width: 16px;
    height: 16px;
    border: 1px solid var(--gray-text-color);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.storage-info__icon {
    width: 1.78px;
    height: 7.38px;
}

.product-order {
    gap: 16px;
    margin-top: 11px;
}

.product-sum {
    gap: 11px;
}

.product-sum__counter {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background-color: white;

}

.counter__button {
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-size: var(--text-lead-size);
}

.product-sum__text {
    font-size: var(--text-caption-size);
    color: var(--sign-color);
}

.product-sum__icons {
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}

.product__button {
    width: 20px;
    height: 20px;
}

.favourite__button {
    border: 0px solid white;
    background: url(icons/favourites.svg) no-repeat center center;
}

.delete__button {
    border: 0px solid white;
    background: url(icons/delete.svg) no-repeat center center;
}

.product__price {
    align-items: flex-end;
    width: 110px;
}

.price__actual,
.price__old {
    flex-direction: row;
}

.actual__text {
    font-size: var(--text-h3-size);
    font-weight: bold;
}

.old__line {
    position: relative;
    top: 11px;
    width: auto;
    border-top: 1px solid var(--gray-text-color);
}

.old__text {
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
    border-bottom: 1px dashed var(--rulers-color);
}

/* products-info__absent */
.absent__first-line {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 16px;
}

.absent__header {
    flex-direction: row;
    font-weight: var(--semibold-weight);
}

.absent__product-order {
    margin-right: 126px;
    margin-top: 8px;
}

.absent__img {
    filter: grayscale(100%);
}

.absent__text {
    color: var(--gray-text-color);
}

/* products-info__order-info */
.products-info__order-info {
    margin-top: 40px;
    gap: 16px;
}

.products-info__order-info>* {
    background-color: white;
    border-radius: 16px;
    padding: 0 24px 24px;
}

.order-info__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.order-info__header__text {
    font-size: var(--text-h2-size);
    margin: 16px 0;
}

.order-info__button {
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: var(--accent-color);
    font-weight: bold;
}

/* delivery-info__delivery-way */
.delivery-way__info * {
    flex-direction: row;
}

.delivery-way__info {
    gap: 16px;
}

.delivery-way__info__item__header {
    min-width: 153px;
    font-weight: var(--semibold-weight);
}

.delivery-way__info__item__subtext {
    font-size: var(--text-caption-size);
}

.delivery-way__subitem {
    margin-left: 32px;
    gap: 8px;
}

.delivery-way__info__item__image {
    width: 40px;
    height: 56px;
}

.delivery-way__point {
    flex-direction: column;
    gap: 4px;
}

.delivery-way__rating-container {
    gap: 8px;
}

.rating {
    gap: 4px;
}

/* delivery-info__denial-info */
.delivery-info__denial-info {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.denial-info__text,
.coloured {
    display: inline;
}


.denial-info__text {
    font-size: var(--text-caption-size);
}

.coloured {
    color: var(--green-color);
    border-bottom: 1px dashed var(--rulers-green-color);
}

/* payment-info__card-info */
.payment-info__card-info {
    flex-direction: column;
    gap: 8px;
}

.card-info__container {
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card-info__icon__container {
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 24px;
    background-color: var(--smoky-bg-color);
}

.card-info__data {
    flex-direction: row;
    gap: 12px;
}

.card-info__data__text {
    font-size: var(--text-caption-size);
}

.card-info__text {
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
}

/* order-info__receiver-info */
.receiver-info__forms {
    flex-direction: column;
    align-self: start;
    min-width: 590px;
    padding-bottom: 24px;
}

.form__container {
    display: grid;
    grid-gap: 24px;
}

.forms__name {
    grid-template-areas: "a b";
    height: 45px;
}

.forms__etc {
    grid-template-areas: "a b c";
    height: 64px;
}

.receiver-info__form__container {
    flex-direction: column-reverse;
}

.receiver-info__form {
    position: relative;
    height: 27px;
    border: 0px solid white;
    border-bottom: 1px solid var(--rulers-color);
    bottom: 0;
}

.receiver-info__form::placeholder {
    color: var(--gray-text-color);
    opacity: 1;
}

.receiver-info__form:focus::placeholder {
    opacity: 0;
}

.receiver-info__label {
    display: none;
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
}

.receiver-info__form:focus~.receiver-info__label {
    display: flex;
}

.receiver-info__text__container {
    position: relative;
}

.receiver-info__text {
    position: absolute;
    top: 4px;
    font-size: 12px;
}

/* cart-total */
.cart-total {
    flex-direction: column;
    flex: 2 2 304px;
    background-color: white;
    border-radius: 16px;
    margin-top: 20px;
    margin-right: 24px;
    padding: 16px 24px 24px;
    min-width: 304px;
    height: 604px;
    gap: 24px;
}

.cart-total__info {
    gap: 4px;
}

.cart-total__items {
    gap: 12px;
}

.cart-total__item {
    gap: 4px;
}

.cost__header {
    flex-direction: row;
    justify-content: space-between;
}

.cost__header__container {
    flex-direction: row;
}

.cost__header__text {
    font-size: var(--text-h2-size);
}

.cart-total__cost {
    gap: 8px;
}

.cost__items {
    gap: 4px;
}

.cost__item {
    flex-direction: row;
    justify-content: space-between;
}

.cost__item * {
    flex-direction: row;
}

.cart-total__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.cart-total__header__text {
    font-size: var(--text-main-size);
}

.cart-total__change__button {
    width: 20px;
    height: 20px;
    border: 0px solid white;
    background: url(icons/change.svg) no-repeat center center;
}

.cart-total__text {
    font-size: var(--text-caption-size);
}

/* cart-total__items (point) */
.point__info__date {
    display: inline;
}

.cart-total__text__date {
    display: inline;
    font-size: var(--text-caption-size);
    color: var(--accent-color);
    border: 0 solid rgba(0, 0, 0, 0);
    border-bottom: 1px dashed var(--rulers-magenta-color);
}

.cart-total__denial-info {
    padding: 8px;
    margin-top: 0;
    background-color: var(--smoky-bg-color);
    border-radius: 8px;
}

/* cart-total__items (card) */
.cart-total__add {
    background-color: var(--second-bg-color);
    border-radius: 8px;
    gap: 8px;
    padding: 8px 8px 0;
}

.cart-total__checkbox {
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cart-total__checkbox__text {
    margin-bottom: 12px;
}

/* cart-total__button-info */
.cart-total__button {
    height: 44px;
    line-height: 40px;
    align-items: center;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
}

.cart-total__button-check {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 8px;
}

.button-checkbox__text,
.button-check__text__underline {
    display: inline;
}

.button-checkbox__text {
    font-size: var(--text-caption-size);
}

.button-check__text__underline {
    border-bottom: 1px solid var(--rulers-color);
}

.button-check__icon {
    width: 13px;
}

/* ---footer--- */
.footer-text {
    padding: 24px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}