:root {
    --main-bg-color: #6725A8;
    --second-bg-color: #f6f6fa;
    --gray-text-color: #9797AF;
    --accent-color: #CB11AB;
    --sign-color: #F55123;
    --green-color: #0CB477;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

header * {
    display: flex;
    color: white;
}

.catalog {
    gap: 16px;
}

.burger-border {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 28px;
    height: 24px;
}

/* search-form */
.search {
    margin: 0 32px;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 36px;
    justify-content: space-between;
    align-items: center;

}

.search-form__text {
    font-size: 18px;
    height: 48px;
    width: 100%;
    padding: 10px 0 14px 0;
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 0);

}

input {
    outline: none;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search-form__button {
    border: 0px solid white;
    opacity: 0.4;
    background: url(icons/search.svg) no-repeat center center;
}

/* menu */
.menu {
    gap: 40px;
}

.menu>* {
    flex-direction: column;
    align-items: center;
}

.menu__text {
    font-size: 13px;
    margin: 6px 0 0;
}

.menu__icon {
    width: 28px;
    height: 28px;
}

.menu__icon-container {
    width: 28px;
    height: 28px;
}

.profile__icon-container {
    margin: 1px 13px 1px 15px;
}

.profile__icon {
    width: 19px;
    height: 20px;
    margin: 4px 4.5px;
}

.cart__icon-container {
    margin: 1px 18px 1px 10px;
}

/* main */
main {
    padding: 0 24px;
    background-color: var(--second-bg-color);
    border: 0 solid var(--second-bg-color);
    border-radius: 24px;
    display: grid;
    grid-template-areas: "a a b";
    grid-gap: 32px;
}


main * {
    display: flex;
    flex-direction: column;
}

/* cart-content */
.cart-content {
    flex-direction: column;
    width: 640px;
    grid-area: a;
}

.in-stock__first-line {
    flex-direction: row;
    justify-content: space-between;

}

.in-stock__checkbox-all {
    flex-direction: row;
    align-items: center;
}

#all {
    margin-right: 11px;
    width: 22px;
    height: 22px;
}

.in-stock__button {
    width: 20px;
    height: 20px;
    border: 0px solid white;
    background: url(icons/turn.svg) no-repeat center center;
}

/* cart-total */
.cart-total {
    flex-direction: column;
    grid-area: b;
}


/* footer */