:root {
    --main-bg-color: #6725A8;
    --second-bg-color: #f6f6fa;
    --smoky-bg-color: #F6F6FA;
    --gray-text-color: #9797AF;
    --light-gray-text-color: #A0A0A4;
    --accent-color: #CB11AB;
    --accent-color-button: rgba(203, 17, 171, 0.15);
    --sign-color: #F55123;
    --green-color: #0CB477;
    --disabled-color: rgba(0, 0, 0, 0.2);
    --rulers-green-color: rgba(12, 180, 119, 0.2);
    --rulers-magenta-color: rgba(203, 17, 171, 0.2);
    --rulers-color: rgba(0, 0, 0, 0.2);
    --hr-color: rgba(0, 0, 0, 0.1);
    --background-modal-color: rgba(0, 0, 0, 0.3);

    --text-h1-size: 28px;
    --text-h2-size: 24px;
    --text-h3-size: 20px;
    --text-main-size: 16px;
    --text-caption-size: 13px;
    --text-lead-size: 20px;

    --semibold-weight: 600;
    --bold-weight: 700;

    --shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.30);
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: var(--text-main-size);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    min-width: 1024px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border: 1px solid var(--rulers-color);
    border-radius: 6px;
}

hr {
    border-top: 1px solid var(--hr-color);
    border-bottom: 0;
    border-right: 0;
}

/* ---header--- */
header {
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: 16px 16px 16px 0;
    min-width: 1024px;
    max-width: 1400px;
}

header * {
    display: flex;
    color: white;
}

.catalog {
    gap: 16px;
    margin-left: 24px;
}

.burger-border {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 28px;
    height: 24px;
}

/* search-form */
.search {
    margin: 0 32px;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 36px;
    justify-content: space-between;
    align-items: center;

}

.search-form__text {
    font-size: 18px;
    height: 48px;
    width: 100%;
    padding: 10px 0 14px 0;
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 0);

}

.search-form__text::placeholder {
    color: white;
    opacity: 0.5;
    line-height: 24px;
}

input {
    outline: none;
}

.search-form__button {
    height: 24px;
    width: 24px;
    border: 0px solid white;
    opacity: 0.4;
    background: url(icons/search.svg) no-repeat center center;
}

/* menu */
.menu {
    gap: 40px;
    padding-right: 20px;
}

.menu>* {
    flex-direction: column;
    align-items: center;
}

.profile,
.cart {
    gap: 5px;
}

.cart {
    position: relative;
}

.menu__text {
    font-size: 13px;
    margin: 0;
}

.menu__icon {
    width: 28px;
    height: 28px;
}

.menu__icon-container {
    width: 28px;
    height: 28px;
}

.profile__icon-container {
    margin: 1px 13px 0 15px;
}

.profile__icon {
    width: 19px;
    height: 20px;
    margin: 4px 4.5px;
}

.cart__icon-container {
    margin: 1px 18px 0 10px;
}

/* ---main--- */
main {
    flex-direction: row;
    justify-content: center;
    border-radius: 24px;
    min-width: 1024px;
    background-color: var(--smoky-bg-color);
    padding: 0 24px 34px;
}

main * {
    display: flex;
    flex-direction: column;

}

.main__container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    max-width: 1400px;
}

/* cart-content */
.cart-content {
    flex-direction: column;
    flex: 2 2 640px;
}


.header1 {
    margin: 34px 0 27px;
    font-size: var(--text-h1-size);
    line-height: 36px;
    letter-spacing: -0.28px;
}

.in-stock__first-line {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;

}

.in-stock__checkbox-all {
    flex-direction: row;
    align-items: center;
}

#all {
    margin-right: 11px;
    width: 22px;
    height: 22px;
}

.in-stock__button {
    width: 20px;
    height: 20px;
    border: 0px solid white;
    background: url(icons/turn.svg) no-repeat center center;
}

/* product */
.product {
    flex-direction: row;
    justify-content: space-between;
}

.product>* {
    flex-direction: row;
}

.product-info {
    align-items: flex-start;
    gap: 16px;
    margin-top: 11px;
    max-width: 397px;
}

.product-info__icon {
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.product-item {
    gap: 8px;
}

.product-item__characteristics {
    flex-direction: row;
    gap: 16px;
}

.characteristic {
    font-size: var(--text-caption-size);
    line-height: 1em;
}

/* in-stock__products */
.in-stock__products {
    gap: 20px;
}

.provider {
    flex-direction: row;
    align-items: baseline;
    gap: 6px;
}

.product-item__storage-info {
    gap: 4px;
}

.product-item__storage-info * {
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
}

.storage-info__icon__container {
    width: 16px;
    height: 16px;
    border: 1px solid var(--gray-text-color);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.storage-info__name {
    line-height: 1.25em;
}

.storage-info__icon {
    width: 1.78px;
    height: 7.38px;
}

.product-order {
    gap: 16px;
    margin-top: 11px;
}

.product-sum {
    gap: 8px;
}

.product-sum__counter {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background-color: white;

}

.counter__button {
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-size: var(--text-lead-size);
}

.counter__disabled {
    color: var(--disabled-color);
}

.product-sum__text {
    font-size: var(--text-caption-size);
    color: var(--sign-color);
}

.product-sum__icons {
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}

.product__button {
    width: 20px;
    height: 20px;
}

.product__button:hover {
    filter: invert(40%) sepia(35%) saturate(2720%) hue-rotate(344deg) brightness(96%) contrast(100%);
}

.favourite__button {
    border: 0px solid white;
    background: url(icons/favourites.svg) no-repeat center center;
}

.delete__button {
    border: 0px solid white;
    background: url(icons/delete.svg) no-repeat center center;
}

.product__price {
    align-items: flex-end;
    width: 110px;
    gap: 4px;
}

.product__price * {
    line-height: 1.25em;
}

.price__actual,
.price__old {
    flex-direction: row;
    align-items: baseline;
    gap: 4px;
}

.actual__text {
    font-size: var(--text-h3-size);
    font-weight: bold;
}

.actual__text__val {
    font-size: var(--text-main-size);
}

.smaller-actual__price {
    font-size: var(--text-main-size);
    margin-bottom: 6px;
}

.old__line {
    position: relative;
    top: 11px;
    width: auto;
    border-top: 1px solid var(--gray-text-color);
}

.old__text {
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
    border-bottom: 1px dashed var(--rulers-color);
}

/* products-info__absent */
.products__absent {
    gap: 20px;
}

.absent__first-line {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 16px;
}

.absent__header {
    flex-direction: row;
    font-weight: var(--semibold-weight);
}

.absent__product-order {
    margin-right: 126px;
    margin-top: 8px;
}

.absent__img {
    filter: grayscale(100%);
}

.absent__text {
    color: var(--gray-text-color);
}

/* products-info__order-info */
.products-info__order-info {
    margin-top: 40px;
    gap: 16px;
}

.products-info__order-info>* {
    background-color: white;
    border-radius: 16px;
    padding: 0 24px 24px;
}

.order-info__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.order-info__header__text {
    font-size: var(--text-h2-size);
    line-height: 1.5em;
    margin: 16px 0;
    letter-spacing: -0.24px;
}

.order-info__button {
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: var(--accent-color);
    font-weight: bold;
}

/* delivery-info__delivery-way */
.delivery-way__info * {
    flex-direction: row;
}

.delivery-way__info {
    gap: 16px;
}

.delivery-way__info__item__header {
    min-width: 153px;
    font-weight: var(--semibold-weight);
}

.delivery-way__info__item__subtext {
    font-size: var(--text-caption-size);
}

.delivery-way__subitem {
    margin-left: 32px;
    gap: 8px;
}

.delivery-way__info__item__image__container {
    position: relative;
}

.delivery-way__info__item__image {
    width: 40px;
    height: 56px;
}

.delivery-way__point {
    flex-direction: column;
    gap: 4px;
}

.delivery-way__point * {
    line-height: 1.25em;
}

.delivery-way__rating-container {
    gap: 8px;
}

.rating {
    gap: 4px;
}

/* delivery-info__denial-info */
.delivery-info__denial-info {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.denial-info__text,
.coloured {
    display: inline;
    line-height: 1.25em;
}


.denial-info__text {
    font-size: var(--text-caption-size);
}

.coloured {
    color: var(--green-color);
    border-bottom: 1px dashed var(--rulers-green-color);
}

.coloured:hover~.denial-info__text__window {
    display: block;
}

.denial-info__text__container {
    position: relative;
    display: inline;
    line-height: 1em;
}

.denial-info__text__window {
    display: none;
    position: absolute;
    top: 24px;
    right: -54px;
    min-height: 56px;
    max-width: 288px;
    padding: 10px 16px 14px;
    font-size: var(--text-caption-size);
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.cart-total__denial-info__text__window {
    top: 40px;
    left: -54px;
}

/* payment-info__card-info */
.payment-info__card-info {
    flex-direction: column;
    gap: 8px;
}

.payment-info__card-info * {
    line-height: 1em;
}

.card-info__container {
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card-info__icon__container {
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 24px;
    background-color: var(--smoky-bg-color);
    border-radius: 4px;
}

.card-info__data {
    flex-direction: row;
    gap: 12px;
}

.card-info__data__text__smaller {
    font-size: var(--text-caption-size);
}

.card-info__text {
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
}

/* order-info__receiver-info */
.receiver-info__forms {
    flex-direction: column;
    align-self: start;
    min-width: 590px;
}

.form__container {
    display: grid;
    grid-gap: 24px;
}

.forms__name {
    grid-template-areas: "a b";
    height: 45px;
}

.forms__etc {
    grid-template-areas: "a b c";
    height: 64px;
}

.receiver-info__form__container {
    flex-direction: column-reverse;
}

.receiver-info__form {
    position: relative;
    height: 27px;
    border: 0px solid white;
    border-bottom: 1px solid var(--rulers-color);
    bottom: 0;
}

.error__label {
    border-bottom: 1px solid var(--sign-color);
}

.receiver-info__form:focus {
    border-bottom: 1px solid var(--rulers-color);
}

.receiver-info__form::placeholder {
    color: var(--gray-text-color);
    opacity: 1;
}

.error__label::placeholder {
    color: var(--sign-color);
}

.receiver-info__form:focus::placeholder {
    opacity: 0;
}

.receiver-info__label {
    display: none;
    font-size: var(--text-caption-size);
    color: var(--gray-text-color);
}

.receiver-info__form:focus~.receiver-info__label {
    display: flex;
}

.label__error__container {
    position: relative;
}

.receiver-info__label__error {
    position: absolute;
    top: 30px;
    color: var(--sign-color);
}

/* .receiver-info__form:valid~.label__error__container .receiver-info__label__error {
    display: none;
} */

.error__label~.label__error__container .receiver-info__label__error {
    display: flex;
}

.receiver-info__form:focus~.label__error__container .receiver-info__label {
    display: none;
}

.receiver-info__text__container {
    position: relative;
}

.receiver-info__text {
    position: absolute;
    top: 4px;
    font-size: 12px;
}

/* cart-total */
.cart-total {
    flex-direction: column;
    flex: 2 2 304px;
    background-color: white;
    border-radius: 16px;
    margin-top: 20px;
    padding: 16px 24px 24px;
    height: fit-content;
    gap: 24px;
    box-shadow: var(--shadow);
}

.cart-total__info {
    gap: 4px;
}

.cart-total__items {
    gap: 12px;
}

.cart-total__item {
    gap: 4px;
}

.cost__header {
    flex-direction: row;
    justify-content: space-between;
}

.cost__header__container {
    flex-direction: row;
    align-items: baseline;
    gap: 4px;
}

.cost__header__text {
    font-size: var(--text-h2-size);
}

.cost__header__val {
    font-size: var(--text-h3-size);
}

.cart-total__cost {
    gap: 8px;
}

.cost__items {
    gap: 4px;
}

.cost__item {
    flex-direction: row;
    justify-content: space-between;
}

.cost__item__text {
    line-height: 1.25em;
}

.cost__item * {
    flex-direction: row;
}

.cost__item__price__container {
    gap: 4px;
}

.cart-total__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    gap: 4px;
    font-weight: 700;
    line-height: 1.5em;
}

.cart-total__header__text {
    font-size: var(--text-main-size);
}

.cart-total__change__button {
    width: 20px;
    height: 20px;
    border: 0px solid white;
    background: url(icons/change.svg) no-repeat center center;
}

.cart-total__text {
    font-size: var(--text-caption-size);
    line-height: 1.25em;
}

/* cart-total__items (point) */
.point__info__date {
    display: inline;
    line-height: 1em;
}

.cart-total__text__date {
    display: inline;
    font-size: var(--text-caption-size);
    color: var(--accent-color);
    border: 0 solid rgba(0, 0, 0, 0);
    border-bottom: 1px dashed var(--rulers-magenta-color);
    line-height: 1em;
}

.cart-total__denial-info {
    padding: 8px 8px 12px;
    margin-top: 0;
    background-color: var(--smoky-bg-color);
    border-radius: 8px;
}

/* cart-total__items (card) */
.cart-total__add {
    background-color: var(--second-bg-color);
    border-radius: 8px;
    gap: 8px;
    padding: 8px 8px 0;
}

.cart-total__checkbox {
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cart-total__checkbox__text {
    margin-bottom: 12px;
}

/* cart-total__button-info */
.cart-total__button {
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 44px;
    align-items: center;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    background-color: var(--accent-color);
    color: white;
    font-weight: var(--bold-weight);
    padding: 0px 32px 5px 32px;
    margin-bottom: 12px;
}

.cart-total__button-check {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 8px;
}

.button-checkbox__text,
.button-check__text__underline {
    display: inline;
    line-height: 1.25em;
}

.button-checkbox__text {
    font-size: var(--text-caption-size);
}

.button-check__text__underline {
    border-bottom: 1px solid var(--rulers-color);
}

.button-check__icon {
    width: 13px;
}

/* ---footer--- */
.footer-text {
    font-size: var(--text-caption-size);
    line-height: 16px;
    padding: 24px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

/* ---card-window--- */
.windows__container {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-modal-color);
}

.windows__container * {
    display: flex;
}

.window {
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
}

.window__header {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: 16px 20px 13px 24px;
}

.window__header__name {
    font-size: var(--text-h3-size);
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: -0.2px;
}

.close__button {
    width: 20px;
    height: 20px;

    border: 0px solid white;
    background: url(icons/search-close.svg) no-repeat center center;
}

.window__radio__container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-left: 22px;
    margin-bottom: 123px;
}

.window__radio__item {
    flex-direction: row;
    flex: 1 0 0;
    gap: 8px;
    align-items: flex-start;
}

.window__radio__item__container {
    padding-right: 22px;
    justify-content: baseline;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.radio__window {
    margin-top: 13px;
}

.card__radio__window {
    margin-top: 4px;
}

.choose__button {
    height: 44px;
    line-height: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    background-color: var(--accent-color);
    color: white;
    font-weight: var(--bold-weight);
    padding: 0px 48px 5px 48px;
    margin: 16px 24px 24px;
}

/*---card-window---*/
.card__window {
    width: 400px;
}

/*---point-window---*/
.point__window {
    width: 500px;
}

.point__radio__container,
.address__radio__container {
    margin-bottom: 30px;
}

.point__radio__text,
.address__radio__text {
    max-width: 400px;
}

.address__radio__container {
    display: none;
    gap: 8px;
}

.point__radio__text {
    padding-top: 8px;
}

.point__rating__subtext {
    color: var(--light-gray-text-color);
    line-height: 16px;
}

.point__change-way {
    margin: 0 22px 24px;
    gap: 8px;
}

.change-way__button {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36px;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    border: 2px solid var(--accent-color-button);
    background: white;
    font-size: var(--text-caption-size);
    font-weight: var(--bold-weight);
    line-height: 16px;
}

.choosed {
    border: 2px solid var(--accent-color);
}

.address_header {
    font-size: var(--text-caption-size);
    font-weight: var(--bold-weight);
    line-height: 16px;
    margin: 0 0 8px 23px;
}

.window__point__label {
    margin-left: 0;
}

.address__radio__text {
    padding: 8px 0px 4px 0px;
    flex: 1 0 0;
}

.window__delete__button {
    margin-top: 10px;
    filter: invert(63%) sepia(11%) saturate(430%) hue-rotate(201deg) brightness(94%) contrast(97%);
}


input[type="radio"] {
    width: 18px;
    height: 18px;
}

/*---dots---*/
.dot__container {
    position: absolute;
    z-index: 3;
    top: -5px;
    right: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18px;
    min-width: 18px;
    border-radius: 16px;
    background-color: var(--sign-color);
    padding: 0 4px 2px;
}

.dot__container__product {
    top: -5px;
    right: -5px;
}

.dot__container__larger {
    padding: 0 6px 2px;
}

.dot {
    font-size: 10px;
    line-height: 1.8em;
    font-weight: var(--bold-weight);
    color: white;
}

.